/*表单共通样式*/
.uni-form
	.uni-form-item
		position relative
		background #FFFFFF
		border-bottom 1px solid #f1f1f1
		overflow hidden
		&:last-child
			border-bottom none
		.uni-form-item__label
			width 90px
			text-align right
			vertical-align middle
			float left
			font-size 30rpx
			color #606266
			line-height 36px
			padding 0
			box-sizing border-box
			sup
				display inline-block
				color red
		.uni-form-item__content
			margin-left 90px
			position relative
			.uni-input__inner
				-webkit-appearance none
				background-color #fff
				box-sizing border-box
				display inline-block
				height 36px
				line-height 36px
				outline none
				padding 0 15px
				transition border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)
				width 100%
				border none
				font-size 30rpx
				color #606266
			textarea.uni-input__inner
				height 90px
				line-height normal
				padding 10px 15px
				box-sizing border-box
				margin 0px
			picker
				height 36px
				line-height 36px
				font-size 30rpx
				color #606266
				padding 0 15px
		.uni-button__content
			padding 20rpx 30rpx
			box-sizing border-box
			.uni-button
				width 100%
				padding 8px 20px
				font-size 14px
				border-radius 4px
				line-height 1
				white-space nowrap
				cursor pointer
				background #fff
				border 1px solid #dcdfe6
				color #606266
				-webkit-appearance none
				text-align center
				box-sizing border-box
				outline none
				margin 0
				transition 0.1s
				font-weight 500
				margin-right 10px
				&:last-child
					margin-right 0
			.uni-button__primary
				color #fff
				background-color #409eff
				border-color #409eff
			.uni-button__danger
				color #fff
				background-color #f56c6c
				border-color #f56c6c
		.file-image-list
			padding 20rpx 20rpx
			image
				width 60px
				height 60px
				border 1px solid #eee